.main-chat
  .main-chat__group-name
    .current-group
      .current-group__name
        = @group.name
      .current-group__menber
        - @group.users.each do |user|
          = user.name
    .edit-btn
      = link_to edit_group_path(current_user), class:"edit-btn__content" do
        Edit
  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    .bottom-form
      .bottom-form__input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "bottom-form__input-box__message", placeholder: "type a message"
          = f.label class: "bottom-form__input-box__icon" do
            = icon('far','image', class: 'bottom-form__input-box__icon')
            = f.file_field :image, class: "bottom-form__input-box__icon__file"
          = f.submit class: "bottom-form__bottom-btn"
